/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONT WEIGHT: 
  default: 400;

LINE HEIGHT: 
  default: 1;

COLORS:
  Tints:
  Shades:
  Accents
  Greys: #555;

SHADOWS:
  
BORDER-RADIUS:

WHITESPACE:
*/

:root {
  --main-color: #e67e22;
  --grey-colo: ;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;

  line-height: 1;
  font-weight: 400;

  color: #555;
}
